body{
    background-color: rgb(204,236,239);
}

#inner{
    border: 5px solid white;
}

#principal{
    margin: 0px auto;
    padding: 0px;
    max-width: 1024px;
    background-color: rgb(193,179,215);
}

#barra{
    background-color: rgb(249, 140, 182);
}

#barra a{
    color: white;
}

#barra div ul li a{
    color: white;
}

#articulos #mision{
    border-right: 5px dotted white;
}

#quienes{
    margin-bottom: 10px;
}

#ninguno{
    border-right: none;
}

#quienes h3{
    color: white;
    font-family: sans-serif;
    letter-spacing: 3px;
    font-weight: bold;
}

#mision h3{
    color: white;
    font-family: sans-serif;
    letter-spacing: 3px;
    font-weight: bold;
}

#vision h3{
    color: white;
    font-family: sans-serif;
    letter-spacing: 3px;
    font-weight: bold;
}

#articulos article hr{
    background-color: white;
    color: white;
}